.nav1 {
    background-color: #1f2428;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    
}

.nav1 .left,
.nav1 .center,
.nav1 .right {
    display: inline-block;
    vertical-align: middle;
}


.nav1 .center { text-align: center; padding-left: 350px; }


.nav1 a {
    color: white;
    text-decoration: none;
    padding: 10px 18px;
}

.contact-btn {
    background-color: #008CBA;
    border-radius: 20px;
}
.nav1 .right{
    padding-left: 350px ;
}
/* nav1 done here */

.nav2 {
    background-color: #1f2428;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    
}

.nav2 .left,
.nav2 .center,
.nav2 .right {
    display: inline-block;
    vertical-align: middle;
}


.nav2 .center { text-align: center; padding-left: 350px; }


.nav2 a {
    color: white;
    text-decoration: none;
    padding: 10px 18px;
}

.contact-btn {
    background-color: #008CBA;
    border-radius: 20px;
}
.nav2 .right{
    padding-left: 350px ;
}

/* nav2 done here */

.nav3 {
    background-color: #1f2428;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    
}

.nav3 .left,
.nav3 .center,
.nav3 .right {
    display: inline-block;
    vertical-align: middle;
}


.nav3 .center { text-align: center; padding-left: 750px; }


.nav3 a {
    color: white;
    text-decoration: none;
    padding: 10px 18px;
}

.contact-btn {
    background-color: #008CBA;
    border-radius: 20px;
}
.nav3 .right{
    padding-left: -350px ;
}
