
body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.navbar {
    background-color: #333;
    text-align: right; 
    position: relative;
    height: 60px; 
    white-space: nowrap; 
}

.logo {
    display: inline-block;
    color: white;
    font-size: 24px;
    position: absolute;
    left: 20px;
    top: 15px; 
}


.menu {
    display: inline-block;
    margin: 0;
    padding-right: 20px; 
    list-style-type: none;
}


.menu li {
    display: inline-block;
}


.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px; 
}


.menu li a:hover {
    background-color: #555;
}
.content {
    text-align: center;
    margin-top: 100px;
}

.content h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.content p {
    font-size: 18px;
    color: #333;
}
.head {
    text-align: center;
}