* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#container {
    height: 500px;
    width: 800px;
    border: solid red;
    background-color: bisque;

    display: flex;

    justify-content: space-evenly;
    
    align-items: end;
}

#container div {
    height: 100px;
    width: 100px;
    border: solid black;
    background-color: chocolate;
    color: white;
    
}

#container div:nth-child(1) {
    background-color: red;
}
#container div:nth-child(2) {
    background-color: blue;
}
#container div:nth-child(3) {
    background-color: green;
}
#container div:nth-child(4) {
    background-color: white;
}



