* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 500px;
    width: 800px;
    border: solid red;
    display: grid;
    gap: 10px;
    /* grid-template-columns: 100px 150px 120px 160px 100px; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    
    /* grid-template-rows: 100px 150px 120px 160px 100px; */
}

section div {
    border: solid blue;
    background-color: lightpink;
    color: white;
    text-align: center;
    font-weight: bold;
}