*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2{
    color: green;
    text-align: end;
}

p{
    color: teal;
    text-align: center;
}

@media print{
    h1{
        color:crimson;
        text-align: center;
    }
    p{
        color: orange;
        text-align: justify;
    }

}
@media screen and (min-width:0px) and (max-width:400px) {
    body{
        background-color: lightgray;
    }
    h1::after{
        content: : "(Mobile Mode)";
    }
}   

@media screen and (min_width:400px) and (max-width:800px) {
    body{
        background-color: lightblue;
    }
}