/* ! Tag Name */
h2{
    color: white;
    background-color: teal;
}

p{
    color: white;
    background-color: teal;
}

b{
   color: white;
    background-color: teal; 
}

/* !Grouping */

/* !Class name */
.demo3{
    color: white;
    background-color: purple;
}
.demo4{
    color: white;
    background-color: green;
}